
@media screen and (min-width: 600px) {

 #initialMenuStyle {
  display: block;
 
  } 
}

.active {
  display: none;
}

.noActive {
  display: block;
}

@media screen and (max-width: 600px) {
  .titleFlag{
    display: block;
    width: 100%;
  }
}
